@model wepchamcongversion1.Models.MauNghiPhep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MauNghiPhep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMauNghiPhep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMauNghiPhep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YeuCauPheDuyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YeuCauPheDuyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiHanNgayNghi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiHanNgayNghi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiHanXuLy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiHanXuLy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayTruocNgayNghi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayTruocNgayNghi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiHanSoNgayNghi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiHanSoNgayNghi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuiDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuiDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiNghiPhepNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNghiPhepNavigation.MaLoaiNghiPhep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaQuyTrinhPheDuyetNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaQuyTrinhPheDuyetNavigation.MaQuyTrinhPheDuyet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaMauNghiPhep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
